html, body, figure, figcaption, ul, li, h1, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

.game-div {
  margin: 0 auto;
  width: 640px;
}

.instructions {

  padding-left:10px;
  text-align: left;
  width: 180px;
  border: 1px solid black;
  background: green;
  float: left;
  height: 358px;
}

ul {
  list-style: none;
}
.snake2 {
  background: black;
  border-radius: 3px;

}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;

}

over {
  font-size: 60px;
  margin: 30px;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

h3 {
  font-size: 24px;
}

.snake-game {
  background: white;
  -webkit-background-size: cover;
}

figure {
  width: 420px;
  /*max-width:60%;*/
  float: left;
  display: inline-block;
  border: 10px solid black;
  /*background: url("Umbach.jpg");
  -webkit-background-size: cover;*/

}

.count {
  font-size: 40px;
  margin: 0;
  height: 40px;
  width: 420px;
  float: left;
  background: blue;
}


ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  list-style: none;
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  /*background: green;*/
  /*border-radius: 100%;*/
  background: url("apple.png");

  /*width:40px;
  height: 40px;*/
  /*overflow: hidden;*/

  object-fit: cover;
  -webkit-background-size: cover;
}
.head {
  background: blue;
  border-radius: 3px;
  /*clip: rect(5px,5px,5px,5px)*/
  -webkit-background-size: cover;
  /*left: 50%;*/
}

.mine {
  background: purple;
}


.snake {
  border-radius: 3px;

  /*background: green;*/
  background: red;
  /*clip: rect(5px,5px,5px,5px)*/
  -webkit-background-size: cover;
}
